<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Hi, I'm Chris!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>My journey as a computer science graduate has just begun and I am excited to see where my adventure takes me next. 
          With specialisations in software development and data science, you could say I have a knack for making sense of 
          numbers and a passion for crafting powerful backend solutions. </p>
      
        <p>But hey, my story doesn't start and end with lines of code on a screen. Before I pursued a career in the digital realm, 
          I was busy behind the scenes in the arts and entertainment industry, tweaking lights, perfecting sound, and making sure 
          the show always goes on. My tech journey is coloured with a vibrant mix of creativity and logic.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>What makes me tick</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p><strong>🐍 Python Aficionado</strong> </p>
        <p>Python isn't just a programming language for me; it's a canvas where I paint my 
          digital masterpieces. I speak Python fluently and use it to craft elegant solutions and wrangle data into meaningful insights.
          </p>
      </div>
      <div class="col-lg-4 text-center">
        <p><strong>🧙 Backend Wizard</strong> </p>
        <p>While others might focus on the glitz and glamour of the front end, I find my magic
           in the backend. I love architecting robust systems and creating the backbone that makes applications tick seamlessly.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Beyond the Code</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          When I'm not glued to my computer screen, you can find me exploring the intersection of technology and creativity. I'm 
          fascinated by how technology can enhance artistic experiences, and my diverse background fuels my passion for innovative 
          projects.
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Why Work with Me?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          I bring more than just technical expertise to the table; my creativity and problem-solving skills are my secret weapons. I'm not 
          your typical software developer - I'm a tech enthusiast with a passion for storytelling. I enjoy uncovering the hidden narratives 
          in data and bringing them to life.</p>
        <p>
          So, whether you're looking to streamline your backend processes, analyse complex data sets, or add a touch of creativity to your
           projects, I'm your go-to person. Let's collaborate and create something extraordinary together!
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/codeitlikecody/" class="btn btn-lg btn-outline">
          <i class="bi bi-github"></i> Check out my code
        </a>
      </div>
    </div>
  </div>
</section>
